<!DOCTYPE html><html lang="en"><head>
  <meta charset="utf-8">
  <title>AngularNgrx</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<style>body,html{height:100%}body{margin:0;font-size:13px;line-height:18px;font-family:Roboto,Helvetica Neue,sans-serif}</style><link rel="stylesheet" href="styles.fff758a54996ba5ab834.css" media="print" onload="this.media='all'"><noscript><link rel="stylesheet" href="styles.fff758a54996ba5ab834.css"></noscript></head>
<body>
  <app-root></app-root>
<script src="runtime.a928318b5a180be03be3.js" defer></script><script src="polyfills.d398af58b36a91a5a0bb.js" defer></script><script src="main.586caad7a3f5d98c0fad.js" defer></script>

</body></html>